html {
	scroll-behavior: smooth;
}
body {
	margin: 0%;
	opacity: 1;
	transition: 2s opacity;
	letter-spacing: .2vw
	font-family: "Cambria", sans-serif;
	font-size: 1.5vw;
}

body.fade-out {
	opacity: .1;
	transition: none;
}

/*NAV*/
.Navbar {
	overflow: hidden;
	background-color: #152238;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	position: fixed;
	-webkit-animation: moveNav 4s;
	animation: moveNav 4s;
}

.Navbar a {
	float: left;
	display: block;
	color: whitesmoke;
	padding: .75vw 1vw;
	text-decoration: none;
	font-family: "Optima", sans-serif;
	font-size: 1.5vw;
	text-align: center;
	position: relative;
	-webkit-animation: movenavText 4s;
	animation: movenavText 4s;
	letter-spacing: .2vw;
}

@keyframes moveNav {
	from {left: -100vw;}
	to {left: 0vw;}
}

@keyframes movenavText {
	from {top: -100vw;}
	to {top: 0vw;}
}

@keyframes movevideoText {
	from {top: -100vw;}
	to {top: 0px;}
}

.Navbar a:hover {
	background-color: #00476b;
	font-weight: bolder;
	cursor: pointer;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.Navbar a.active {
	background-color: #00476b;
}

@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1.5,1.5);
	}
	100% {
		transform: scale(1,1);
	}
}

/*VIDEO*/
#Typing_Video {
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	z-index: -1;
	animation: zoominoutsinglefeatured 5s;
}

.Video_Text {
	background:rgba(245, 245, 245, .80);
	color: #152238;
	width: 100%;
	margin-top: 2%;
	position: relative;
	-webkit-animation: moveNav 4s;
	animation: movevideoText 4s;
}

/*SLIDESHOW*/
#Slideshow_Background {
	background:rgba(245, 245, 245, .80);
	}


.mySlides {
	display: none;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

#Slideshow_Container {
	width: 39.5vw;
	height: auto;
	padding-top: 4%;
	position: relative;
	margin: auto;

}

.Slide_Show_Images {
	vertical-align: middle;
	height: auto;
	box-shadow: 0px 5px 10px 12px rgba(0, 71, 107, .60);
	width: auto;
}

.Previous, .Next {
	cursor: pointer;
	position: absolute;
	top: 84%;
	width: auto;
	padding: 2vw;
	margin-top: -0vw;
	color: whitesmoke;
	font-weight: bold;
	font-size: 1.5vw;
	border-radius: 0 2px 2px 0;
	user-select: none;
	transition: 0.6s ease;
}

.Next {
	right: 0;
	border-radius: 2px 0 0 2px;
}

.Previous:hover, .Next:hover {
	background-color: rgba(0, 71, 107, .60);
	color: white;
}

.text {
	color: whitesmoke;
	padding: 1vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: "Cambria", sans-serif;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	background-color: rgba(0, 71, 107, .80);
	border-radius: 7px 7px 7px 7px;
}

/*SLIDESHOW NUMBERS SET TO NONE (hidden)*/
.Slide_Number {
	color: whitesmoke;
	position: absolute;
	top: 0;
	font-family: "Cambria", sans-serif;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	font-weight: bold;
	display: none;
	}

.dot {
	cursor: pointer;
	height: 1vw;
	width: 1vw;
	margin: .25vw;
	background-color: whitesmoke;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	position: relative;
	z-index: 1;
}

.active, .dot:hover {
	background-color: #152238;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/*SPACING*/
.clearSpace {
	padding: 4em;
	margin: 0;
}

/*TABLE COLUMNS AND ROWS*/
* {
	box-sizing: border-box;
}

.Column_1 {
	float: left;
	border-radius: 2px 2px 2px 2px;
	width: 50%;
	padding: 1.6%;
	background-color: whitesmoke;
	height: 200px;
}

.Column_2 {
	float: left;
	width: 50%;
	padding: 1.6%;
	height: 200px;
	background-color:rgba(245, 245, 245, .80);
}

.Row:after {
	content: "";
	display: table;
	clear: both;
}

/*ELEMENTS*/
h1 {
	text-transform: uppercase;
	font-family: "Optima", sans-serif;
	font-size:2vw;
	text-align: center;
	margin-top: 3%;
	color: #152238;
}

h2 {
	text-transform: uppercase;
	font-family: "Optima", sans-serif;
	font-size:1.5vw;
	text-align: center;
	margin-top: 2%;
	color: #00476b;
}

p {
	font-family: "Cambria", sans-serif;
	margin: 0;
	margin-bottom: 2em;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
	color: #152238
}

.pCenter1 {
	text-align: center;
	line-height: 2em;
	padding-top: 2vw;
	padding-left: 10vw;
	padding-right: 10vw;
	font-weight: bold;
	background-color:rgba(245, 245, 245, .80);
	color: #00476b;
}

.pCenter2 {
	text-align: center;
	line-height: 2em;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 1vw;
}

.pBlock {
	line-height: 2em;
	text-indent: 0ch;
	padding-left: 24vw;
	padding-right: 10vw;
}

.pColumn1 {
	line-height: 1.2em;
	padding-left: 2vw;
	padding-right: .5vw;
	color: #00476b;
}

.pColumn2 {
	text-align: center;
	line-height: 1.5em;
}

h1:hover, h2:hover, p:hover, .pCenter2:hover, .pBlock:hover, a:hover, .text:hover {
	transition: transform 5s;
	transform: scale(1.05);
	font-weight: bold;
}

q:hover, .pCenter1:hover, .pColumn1:hover, .pColumn2:hover {
	transition: transform 5s;
	transform: scale(1.05);
	font-weight: normal;
}

/*BLUE LINKS*/
a {
	color: #00008b;
}

/*QUOTES*/
q {
	font-style: italic;
	font-weight: bold;
}

/*IMAGES*/
img {
	filter: grayscale(40%);
	border-radius: 8px;
	max-width: 100%;
	height: 100%;
	margin: auto auto auto auto;
	display: block;
	box-shadow: 6px 6px 6px 6px rgba(0, 71, 107, .60);
}

img:hover {
	filter: grayscale(4%);
	transition: transform 1s;
	transform: scale(1.1);
}

/*CONTACT FORM*/

@keyframes movePopup {
	from {right: -40vw;}
	to {bottom: 1.75vw;}
}

.Pop_Up_Button {
	bottom: 1.75vw;
	right: 1.75vw;
	width: 15vw;
	background-color: whitesmoke;
	color: #152238;
	border: solid;
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	position: fixed;
	left: 0;
	-webkit-animation: movePopup 5s;
	animation: movePopup 5s;
}

.form-popup {
	border: 3px solid #f0f1f0;
	border-radius: 10px 10px 10px 10px;
	z-index: 8;
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
}

.form-container {
	background-color: whitesmoke;
	color: #152238;
	max-width: 80vw;
	padding: 9px;
	border-radius: 12px 12px 12px 12px;
}

.form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: .93vw;
	margin: .6vw 0 .6vw 0;
	border: none;
	background: Gainsboro;
	font-family: Helvetica, Avant Garde;
	font-size: 1vw;
}

.form-container .btn {
	padding: 8px 16px;
	margin-bottom: 4px;
	background-color: whitesmoke;
	color: #152238;
	border-color: #152238;
}

.form-container .cancel {
	padding: 8px 16px;
	background-color: lightgrey;
	color: #152238;
	border-color: darkgrey;
}

/*BUTTONS*/
button {
	font-family: "Optima", sans-serif;
	letter-spacing: .3vw;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw 1.5vw;
	border-style: solid;
	cursor: pointer;
	width: 100%;
	height: auto;
}

button:hover, .form-container .btn:hover{
	color: whitesmoke;
	background-color: #00008b;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	border-style: solid;
	border-color: silver;
}
.form-container .cancel:hover{
	color: whitesmoke;
	background-color: #152238;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	border-style: solid;
	border-color: #152238;
}

/*FOOTER*/
footer {
	padding: 1%;
	background-color: #152238;
	color: whitesmoke;
}